{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contacto2.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría personalizada en desarrollo y tecnología</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hola, soy Kevin Emanuel Hernández Contreras. Si necesitas apoyo en desarrollo de software, sitios web, inteligencia artificial o soluciones tecnológicas a medida, estaré encantado de ayudarte.</p>
        
        <p>Ofrezco asesoría enfocada en resultados concretos, con un trato directo y profesional. Puedo apoyarte en proyectos personales, escolares o empresariales.</p>

        <p>También brindo acompañamiento en la implementación de ideas tecnológicas, desde la planificación hasta el despliegue.</p>
        
        <br>
        <p><b>Correo:</b> al222210554@gamil.com</p>
        <p><b>WhatsApp:</b> +52 55 1234 5678</p>
        <p><b>Honorarios:</b> A convenir, según el tipo de proyecto</p>
    </div>
</div>
{% endblock %}
